<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <h1>You created a car for sale posting!</h1>
            <p>
                {{ newcar.getModel }} - <img src='{{ newcar.getPhoto }}'>
            </p>
            <p><a href='/'>Back to car search</a></p>
        </div>
    </body>
</html>
