<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action='/car_posted' method='post' >
            <div class='form-group'>
                <label for='model'>Enter Model:</label>
                <input id='model' name='model' class='form-control' type='text'>
                <label for='photo'>Enter Image Path:</label>
                <input id='photo' name='photo' class='form-control' type='text'>
                <label for='price'>Enter Price:</label>
                <input id='price' name='price' class='form-control' type='number'>
                <label for='milage'>Enter Mileage:</label>
                <input id='milage' name='milage' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form></br>
    </body>
</html>
