<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Search Results</title>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <form action='/'>
                    <button type='submit'>Return to search</button>
                </form>
            </div>
            <div class='col-md-3'>
                <form action='/delete_all'>
                    <button type='submit'>Delete all listings</button>
                </form>
            </div>
        </div>
            <h1>Results:</h1>
            {% if car_list is not empty %}

                {% for car in car_list %}

                    <div class='row'>
                        <div class='col-md-4'><strong>{{ car.getModel }}</strong></div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'><img src='{{ car.getPhoto }}'</img></div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>Price: {{ car.getPrice }}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>Mileage: {{ car.getMilage }}</div>
                    </div>
                    <br><br>

                {% endfor %}

            {% else %}

                <p> No cars available </p>

            {% endif %}
    </div>
</body>
</html>
